{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}

  {% block content %}

    <div>
      {{ page.content }}
    </div>

    <div>
      {% for child in collection %}
        <div>{{ child.date|date("m") }}. {{ child.date|date("F") }}</div>

        {% for image in child.media.images %}
          {{ image.cropResize(600).quality(70).html('', page.title) }}
        {% endfor %}

        <a href="{{ child.url }}">
          <h4>{{ child.title }}</h4>
          <h5>{{ child.header.details.attribution }}</h5>
        </a>

        {% if child.header.details.link %}
          <a href="{{ child.header.details.link }}">Preview Track</a>
        {% endif %}
      {% endfor %}
    </div>

    <div>
      {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
      {% endif %}
    </div>

  {% endblock %}

{% endembed %}