{% extends 'partials/base.html.twig' %}

{% block content %}

  {% for image in page.media.images %}
    {{ image.cropResize(600).quality(70).html('', page.title) }}
  {% endfor %}


  <a href="{{ page.url }}">
    <h4>{{ page.title }}</h4>
    <h5>{{ page.header.details.attribution }}</h5>
  </a>

  <a href="{{ page.header.details.link }}">Preview Track</a>
{% endblock %}
