{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  {% include 'partials/metadata.html.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block stylesheets %}
    {% do assets.addCss('theme://assets/css/style.css', 100) %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
  {% endblock %}
  {{ assets.js() }}

{% endblock head %}

</head>
<body class="{{ page.header.body_classes }}">

  {% block header %}
  <header>
    <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>

    <nav>
      {% block header_extra %}{% endblock %}
      {% block header_navigation %}
      {% include 'partials/navigation.html.twig' %}
      {% endblock %}
    </nav>
  </header>
  {% endblock %}

  {% block showcase %}{% endblock %}

  {% block body %}
  <section class="{{ class }}">
    {% block content %}{% endblock %}
  </section>
  {% endblock %}

  {% block footer %}
  <footer>
  </footer>
  {% endblock %}

</body>
</html>
