<div class="list-item h-entry">

  <div class="list-blog-header">
    {# <span>
      <time datetime="{{ page.date|date("c") }}">
        <span>{{ page.date|date("d") }}</span>
        <em>{{ page.date|date("M") }}</em>
      </time>
    </span> #}

    {% if page.header.link %}
      <h4>
        {% if page.header.continue_link is not sameas(false) %}
        <a href="{{ page.url }}"></a>
        {% endif %}
        <a href="{{ page.header.link }}">{{ page.title }}</a>
      </h4>
    {% else %}
      <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
    {% endif %}

    {% if page.taxonomy.tag %}
    <span class="tags">
      {% for tag in page.taxonomy.tag %}
      <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </span>
    {% endif %}
  </div>

  <div>
    {% if page.header.continue_link is sameas(false) %}
      <div>
        {{ page.content }}
      </div>
      {% if not truncate %}
        {% set show_prev_next = true %}
      {% endif %}

    {% elseif truncate and page.summary != page.content %}
      <div>
        {{ page.summary }}
        <a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
      </div>

    {% elseif truncate %}
      <div>
        {{ page.content }}
        <a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
      </div>

    {% else %}
      <div>
        {{ page.content }}
      </div>

      {% set show_prev_next = true %}
    {% endif %}

    {% if show_prev_next %}
      <div class="pagination">
        {% if not page.isFirst %}
          <a href="{{ page.nextSibling.url }}">{{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
        {% endif %}

        {% if not page.isLast %}
          <a href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }}</a>
        {% endif %}
      </div>
    {% endif %}

  </div>
</div>
