{% macro loop(page) %}
  {% for p in page.children.visible %}
    {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
    {% if p.children.visible.count > 0 %}
      <a href="{{ p.url }}" class="has-children {{ current_page }}">
        {{ p.menu }}
      </a>
      <ul>
        {{ _self.loop(p) }}
      </ul>
    {% else %}
      <a href="{{ p.url }}" class="{{ current_page }}">
        {{ p.menu }}
      </a>
    {% endif %}
  {% endfor %}
{% endmacro %}


{% if theme_config.dropdown.enabled %}
  {{ _self.loop(pages) }}
{% else %}

  {% for page in pages.children.visible %}
    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
      <a href="{{ page.url }}" class="{{ current_page }}">
        {{ page.menu }}
      </a>
  {% endfor %}
{% endif %}

{% for mitem in site.menu %}
  <a href="{{ mitem.url }}">
    {{ mitem.text }}
  </a>
{% endfor %}

{% if config.plugins.login.enabled and grav.user.username %}
  {% include 'partials/login-status.html.twig' %}
{% endif %}